* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

body {
    background: #c9c5c5;
}

.container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    gap: 20px;
}

.gallery-item{
    flex: 0 0 calc((100% / 3) - 20px);
    border: 5px solid black;
    padding: 10px;
    background: #FFF;
}

figure{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: flex-end;
}

figure figcaption{
    opacity: 60%;
    margin-top: 40px;
}

figure img{
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 



/* .gallery-item {
    flex: 0 0 calc( (100% / 3) - 20px );
    border: 5px solid black;
    padding: 10px;
    background: #FFF;
    display: flex;
}

.gallery-item figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-item figure{
    flex: 1 1 auto;
}

*/